@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

:root {
    --vermelho: #8E2424;
    --bg: #ffffff;
    --letras: #667085;
    --titulo: #101828;
    --logo: #3A404E;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 18px 80px 18px 80px;
    font-weight: 500;
    font-size: 16px;
    gap: 118px;
}

.logo {
    display: flex;
    margin-left: 112px;
    align-items: center;
    gap: 8px;
}

#imagelogo {
    width: 27px;
    height: 26.99px;
}

#logoname {
    width: 113px;
    font-size: 18px;
    color: var(--logo);
    line-height: 24px;
}

.navb {
    display: flex;
    gap: 32px;
    width: 1262px;
    margin-left: 119px;
}

.navbtn {
    color: var(--letras);
}

.blank {
    width: 142px;
    height: 32px;
}

.login {
    display: flex;
    gap: 12px;
    margin-right: 112px;
    align-items: center;
}

#loginbtn {
    width: 83px;
    color: var(--letras);
}

#loginbtn2 {
    width: 112px;
    border-radius: 8px;
    background-color: var(--vermelho);
    color: #ffffff;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    text-decoration: none;
}

.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#tsobre {
    color: var(--vermelho);
    width: 78px;
    height: 24px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin: 96px 681px 0px 681px;
}

#tprincipal {
    font-size: 48px;
    line-height: 60px;
    font-weight: 600;
    width: 652px;
    height: 60px;
    margin: 24px 394px 0px 450px;
    color: var(--titulo);
}

#ttexto {
    width: 791px;
    height: 60px;
    color: var(--letras);
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    margin: 36px 325px 107px 325px;
}

.estatisticas {
    display: flex;
    flex-direction: row;
    gap: 32px;
    margin: 0px 112px 96px 112px;
    justify-content: center;
}

.etitulo {
    width: 280px;
    height: 72px;
    font-weight: 600;
    font-size: 60px;
    line-height: 72px;
    color: var(--vermelho);
}

.esubtitulo {
    width: 280px;
    height: 28px;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: var(--titulo);
}

.etexto {
    width: 280px;
    height: 72px;
    font-weight: 400;
    color: var(--letras);
    font-size: 16px;
    line-height: 24px;
}

#vagasA {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--vermelho);
    width: 125px;
    height: 24px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin: 96px 681px 16px 681px;
    background-color: #8E24240D;
    border-radius: 16px;
}

.vagas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}

.talentos {
    font-size: 36px;
    margin-bottom: 20px;
}

.equipe {
    font-size: 20px;
    font-weight: 400;
    color: var(--letras);
    margin-bottom: 64px;
}

.design {
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin-bottom: 32px;
}

.ocupacoes {
    text-align: left;
    width: 768px;
    font-size: 20px;
    margin-top: 64px;
}

.requisitos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.topicos {
    display: flex;
    justify-content: center;
    border: 1px solid #EAECF0;
    height: 136px;
    width: 768px;
    border-radius: 16px;
    flex-direction: column;
    margin-bottom: 24px;
    margin-top: 24px;
}