@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --branco: #F0eff4;
    --cinza: #45525c;
    --texto_cor: #778087;
    --hover: #3066be;
    --azul_escuro: #152633;
    --vermelho_claro: #c3191907;
    --font_main: 'Inter', sans-serif;
}

body {
    background-color: var(--branco);
    font-family: var(--font_main);
}

header {
    padding: 2%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--texto_cor);
}

a:hover{
    text-decoration: underline;
    color: var(--hover);
}

.navbar {
    display: flex;
    gap: 40px;
    margin-right: 380px;
}

.logotipo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nome {
    color: var(--cinza);
    font-weight: 500;
    font-size: 18px;
}

.links {
    font-weight: 500;
}

.login_cadastrar {
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: medium;
}

.cadastrar {
    background-color: var(--azul_escuro);
    padding: 15px;
    border-radius: 8px;
    color: var(--branco);
}

.login {
    color: var(--azul_escuro);
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

}

.t_principal1{
    color: var(--azul_escuro);
    font-weight: 600;
    margin-top: 61px;
    margin-bottom: 24px;
    font-weight: 'SemiBold';
}

.t_principal2{
    color: var(--azul_escuro);
    width: 652;
    height: 60;
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 24px;
}

.paragrafo-titulo{
    width: 780px;
    height: 82px;
    font-size: 20px;
    line-height: 30px;
    color: var(--cinza);
    margin-bottom: 96px;
    text-align: center;
}

.estatisticas {
    display: flex;
    flex-direction: row;
    gap: 32px;
    margin: 0px 112px 96px 112px;
    justify-content: center;
}

.etitulo {
    width: 280px;
    height: 72px;
    font-weight: 600;
    font-size: 60px;
    line-height: 72px;
    color: var(--azul_escuro);
}

.esubtitulo {
    width: 280px;
    height: 28px;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: var(--azul_escuro);
}

.etexto {
    width: 280px;
    height: 72px;
    font-weight: 400;
    color: var(--cinza);
    font-size: 16px;
    line-height: 24px;
}

.p-vagas{
    width: 125px;
    height: 28px;
    background-color:var(--vermelho_claro);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--azul_escuro);
    font-weight: 500;
    font-size: 14px;
    border-radius: 100px;
    margin-top: 96px;
    
}

.search-talent{
    font-size: 36px;
    font-weight: 600;

}

.sub-title-vagas{
    font-weight: 400;
    color: var(--azul_escuro);
    font-size: 20px;
   margin-bottom: 64px;
}

.img-office{
    width: 1216px;
    height: 400px;
}

.vagas{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 96px;
    margin-top: 64px;

}

.tipo-vaga{
    margin-bottom: 32px;
    font-size: 20px;
    font-weight: 500;
}

.titulo-vaga{
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
}

.ch-salario{
    font-weight: 500;
    font-size: 16px;
    color: var(--azul_escuro);
    display: flex;
    gap: 24px;
}

.vaga{
    display: flex;
    flex-direction: column;
    gap: 32px;
    border: 1px solid var(--cinza);
    border-radius: 20px;
    padding: 24px;
    width: 768px;
    margin-bottom: 24px;

}

.vagas-design{
    margin-bottom: 64px;
}

.colaborador{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--vermelho_claro);
    padding: 64px;
    width: 1216px;
    height: 404px;
    margin-bottom: 96px;
    border-radius: 16px;

}

.see-colab{
    color: var(--azul_escuro);
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 16px;

}

.text-colab{
    font-weight: 500;
    font-size: 31px;
    text-align: center;
    margin-bottom: 32px;
    width: 900px;
    height: 88px;
}

.dev{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.foto{
    width: 56px;
    height: 56px;
    border-radius: 100px;
}

.nome-dev{
    font-weight: 500;
    font-size: 16px;
}

.devweb{
    font-weight: 400;
    color: var(--azul_escuro);
}

.titulo-inscrever{
    font-weight: 600;
    font-size: 36px;
    margin-bottom: 20px;
    color: #101828;
}

.subtitulo-inscrever{
    font-family: 400;
    color: var(--azul_escuro);
    font-size: 20px;
    margin-bottom: 40px;
}

.stn-inscrever{
    display: flex;
    gap: 16px;
}

.input-cadastrar{
    width: 360px;
    height: 48px;
    border-radius: 8px;
    border: 1px solid rgb(185, 185, 185);
    margin-bottom: 32px;
}

::placeholder{
    padding: 12px;
    font-size: 16px;
}

.btn-cadastrar{
    width: 116px;
    height: 48px;
    border-radius: 8px;
    background-color: var(--azul_escuro);
    color: var(--branco);
    border: none;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.direitos{
    color: var(--azul-clarinho);
    font-weight: 400;
    font-size: 16px;
}

footer{
    background-color: var(--branco);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: center;
    padding: 96px;
    width: 100%;
}
